@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap&subset=cyrillic');

body {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 120px;
  /* background-image: url(../image/dc.jpg); */
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 800px 20624px;
  font-family: 'pt sans';
  font-size: 24px;
  /* color: red; */
}

div {
  border-left: 2px solid black;
  padding-left: 20px;
}

em {
  margin-top: 16px;
}

h1 {
  font-family: pt sans;
  font-size: 44px;
  margin-bottom: 12 px;
}

h1 + p {
  margin-top: -12px;
  color: gray;
}

p {
  line-height: 32px;
}

h2 {
  margin-bottom: -20px;
}

p + h2 {
  margin-top: 40px;
}

h3 + p {
  margin-top: -12px;
}

h4  {
  margin-bottom: -12px;
  margin-top: 12px;
}

.heads {
  background-color: #effeef;
  width:400px;
  height: 820px;
  padding-top: 1px;
  padding-left: 25px;
  border: 1px solid black;
}

div ul {
  list-style-type: none;
  margin-left: -15px;
  font-size: 14px;
  line-height: 20px;
}
