@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap&subset=cyrillic');

@import "reset.css";

@import "nav.css";

body {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 120px;
  /* background-image: url(../image/dc.jpg); */
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 800px 20624px;
  font-family: 'pt sans';
  font-size: 18px;
  /* color: red; */
}

p + ol li{
  list-style-type:decimal;
  list-style-position: inside;
  line-height: 28px;
  margin-left: 40px;
}

div {
  border-left: 2px solid black;
  padding-left: 20px;
}

h1 {
  font-family: pt sans;
  font-size: 44px;
  margin-bottom: 12 px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  margin: 48px 0 20px 0;
}

h3 {
  font-size: 28px;
  font-weight: bold;
  margin: 44px 0 0px 0;
}

h3 + h4 {
  margin-top: 24px;
}

h4 {
  font-size: 20px;
  font-weight: bold;
  margin: 28px 0 -14px 0;
}

h1 + p {
  margin-top: -12px;
  color: gray;
}

p {
  line-height: 32px;
  margin-top: 24px;
}

a {
  text-decoration: none;
}

*:visited {
  color: blue;
}
